@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  color: #172b4d;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.25rem;
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  transition: all 0.5s;
}

.main-header,
.about {
  display: flex;
  flex-direction: column;
  height: 90vh;
  background-color: white;
  transition: all 0.2s ease-in-out;
}

.main-header {
  border-radius: 0 0 0 6rem;
}

nav {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .logo {
  font-size: 1.4rem;
  color: #6070ff;
  flex: 1;
  text-decoration: none;
  font-weight: bold;
}

.navbar .menu {
  width: 2rem;
  margin: auto;
}

.menu div {
  background: #6070ff;
  height: 0.2rem;
  margin: 0.3rem;
}

section.main {
  background-image: url("./imgs/header.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100%;
  padding: 0 2rem;
  padding-top: 12rem;
  opacity: 1;
}

.about-me h1 {
  width: 50%;
  font-size: 3rem;
}

section.main h1 {
  width: 70%;
}

section.main p {
  line-height: 1.8rem;
  font-size: 1.1rem;
  margin-top: -1rem;
}

.main .cta,
.about-me .cta {
  font-size: 1rem;
  font-weight: 600;
  opacity: 0.8;
  color: #6070ff;
  text-transform: uppercase;
  text-decoration: none;
}

.socialmedia {
  width: 70%;
  display: flex;
  list-style-type: none;
  padding: 0;
}

.socialmedia li {
  margin-right: 1rem;
}

/* Works section */
.works {
  margin: 8rem 0;
  display: grid;
  gap: 6rem;
}

.card {
  background-color: white;
  width: 90%;
  margin: auto;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.card img {
  max-width: 100%;
}

article h2 {
  margin: 1rem 0 0;
}

.card article {
  font-size: 1rem;
}

.card article h2 {
  font-size: 2rem;
}

.prev-exp {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 0.85rem;
  font-weight: 700;
  padding: 0;
}

.prev-exp span {
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #344563;
}

.prev-exp ul {
  padding: 0.5rem 1.4rem;
  margin: 0;
  text-align: left;
  flex-grow: 3;
  display: flex;
  color: #7a869a;
}

.prev-exp li {
  /* margin: auto; */
  margin: 0 1rem 0 0;
}

.used-tech {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.used-tech li {
  color: #6070ff;
  background-color: #ebebff;
  margin-right: 1rem;
  font-size: 0.9rem;
  padding: 0.2rem 0.8rem;
  border-radius: 1rem;
}

article a,
.btn {
  display: inline-block;
  color: #396df2;
  outline: 1px solid #6070ff;
  text-decoration: none;
  padding: 0.8rem;
  margin: 1rem 0;
  border-radius: 0.4rem;
  font-weight: 700;
}

article a:hover {
  background-color: #6070ff;
  color: white;
}

/* About section */
.about {
  width: 100%;
  height: auto;
  margin: 2rem 2rem 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 6rem 0 0;
}

.about-me {
  padding: 2rem;
}

.about-me,
.choices {
  width: 90%;
}

.choices {
  list-style-type: none;
  padding: 0;
  margin-bottom: 6rem;
}

.choices h3 {
  font-weight: 500;
}

.choices li h3 {
  display: flex;
  justify-content: space-between;
}

.open::after {
  cursor: pointer;
  content: ">";
}

.close::after {
  cursor: pointer;
  content: ">";
  transform: rotate(90deg);
}

.choices li {
  width: 100%;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.skills {
  padding: 0;
}

.skills li {
  background-color: #f7f7f9;
  padding: 1rem;
  margin-bottom: 1rem;
  border: none;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
}

.skills li img {
  margin-right: 1rem;
}

.choices li:first-child {
  border: none;
}

.btn {
  font-weight: 500;
  margin: 0;
  font-size: 1.1rem;
}

.btn:hover {
  background-color: #6070ff;
  color: white;
}

/* Contact me */
.contact {
  font-family: 'Poppins', sans-serif;
  background-color: #6070ff;
  background-image: url("./imgs/contact-form.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8%;
  border-radius: 6rem 0 0 0;
}

.contact-title {
  color: white;
  font-size: 2.6rem;
  margin-bottom: 0;
}

.contact-desc {
  color: white;
  text-align: center;
  margin-bottom: 2rem;
}

.contact form {
  display: flex;
  width: 100%;
  flex-direction: column;
}

form input,
form textarea,
form button {
  font-size: 1.1rem;
  border: none;
  margin: 0.6em 0;
  padding: 0.8em;
  border-radius: 0.2em;
}

form textarea {
  height: 10rem;
  resize: none;
}

form button {
  font-family: inherit;
  color: #6070ff;
  background-color: white;
  font-weight: 400;
  min-width: 42%;
  max-width: 45%;
}

/* Desktop version */
@media (min-width:764px) {
  .main-header {
    /* padding: 0 10%; */
  }

  section.main {
    background-image: url("./imgs/header-bg.png");
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  section h1 {
    font-size: 3rem;
  }

  .main > * {
    padding: 0 10%;
  }
}

